{% extends "main/base.html" %}

{% load url from future %}
{% load tomato %}
{% load i18n %}

{% block content %}
<div id="right">
	<div id="topcontent">
	<h1>{% trans "Error:" %} {{typemsg}}</h1>
	</div>
	<div class="alert alert-danger">
		<p>{{errormsg}}</p>
		<li><b>{{errormsg}}</b></li>
	</div>
	
	<div id="content">
	{% if request.session.user.hasDebugFlag %}
		<h2>{% trans "Error Details" %}</h2>
		<table><tbody>
		{% for tr in debuginfos %}
			<tr><th>{{tr.th}}:</th><td>{{tr.td}}</td></tr>
		{% endfor %}
		</tbody></table>
	{% else %}
		<p>{% trans "If you continue to encounter this problem, please" %} <a href="{%url "help.contact_form"%}">{% trans "contact an administrator" %}</a> or <a href="{%externalurl 'bugtracker' %}" target="_help">{% trans "file a bug report" %}</a>.</p>
	{% endif %}
	
	</div><!--end: content-->
</div><!--end: right-->
{% endblock %}