{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load url from future %}
{% load tomato %}
{% load i18n %}

{% block content %}
<div id="right">
	<div id="topcontent">
		<form>
		 	<button type="submit" formaction="{%url "profile_list"%}" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-list"></span> {% trans "All Device Profiles" %}</button>
		</form>
		<h1>{% trans "Device profile" %} {{profile.attrs.name}}</h1>
	</div>
	<div id="bar">
	{% if request.session.user.isGlobalHostManager or request.session.user.isGlobalAdmin %}
		<form>
		  <button type="submit" formaction="{%url "profile.edit" profile.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> {% trans "edit device profile" %}</button>
		  <button type="submit" formaction="{%url "profile.remove" profile.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {% trans "remove device profile" %}</button>
		</form>
	{%endif%}
	</div>
	<div id="content">
	<table class="table">
		<tr>
			<th>{% trans "Name:" %}</th>
			<td>{{profile.attrs.name}}</td>
		</tr>
		<tr>
			<th>{% trans "Label:" %}</th>
			<td>{{profile.attrs.label}}</td>
		</tr>
		<tr>
			<th>{% trans "Tech:" %}</th>
			<td><img src="/img/{{profile.attrs.tech}}16.png" /> {{profile.attrs.tech}}</td>
		</tr>
		<tr>
			<th>{% trans "Preference:" %}</th>
			<td>{{profile.attrs.preference}}</td>
		</tr>	
		<tr>
			<th>{% trans "Restricted:" %}</th>
			<td>
			{% if profile.attrs.restricted %}
				<img src="/img/lock.png" /> yes
			{% else %}
				no
			{% endif %}
			</td>
		</tr>	
		<tr>
			<th>{% trans "Resources:" %}</th>
			<td>
				<dl class="dl-horizontal">
					{% if profile.attrs.tech != 'repy' %}
	  					<dt>{% trans "Disk space" %}</dt><dd>{{profile.attrs.diskspace}} MB</dd>
					{% endif %}
					<dt>{% trans "Memory" %}</dt><dd>{{profile.attrs.ram}} MB</dd>
					<dt>{% trans "CPUs" %}</dt><dd>{{profile.attrs.cpus}}</dd>
				</dl>		
		    </td>
		</tr>
		<tr>
			<th>{% trans "Description:" %}</th>
			<td>{{profile.attrs.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td>
		</tr>
	</table>
	
	</div><!--end content-->
</div><!--end right-->
{% endblock %}