{% extends "topology/base.html" %}
     <!DOCTYPE html
        PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load url from future %}
{% load tomato %}
{% load i18n %}

{% block content %}
<div id="right">
<div id="topcontent">
<h1>{% trans "Tutorials" %}</h1>
</div>
<div id="content">
<script src="js/jquery.js"></script>

<table class="sortable" style="vertical-align:middle;">

{% for tut in tutorials %}
  <tr>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url "tutorial.start" %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event)"><img src="{{tut.icon}}" /></a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url "tutorial.start" %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event)">{{tut.name}}</a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm;">{{tut.desc}}</td>
  </tr>
{% endfor %}
</table>
</div>
<div id="bar">
<link href="style/jquery-ui.css" rel="stylesheet">
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/custom-tutorial.js"></script>
<button type="button" onClick="customTutorial()" class="btn btn-primary">{% trans "Load tutorial from URL" %}</button>
</div>
</div>
{% endblock %}
