<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 {% load i18n %}

<title>{% trans "ProViNet - BUPT NIC" %}</title>
 
<meta name="DESCRIPTION" content="ProViNet Webpage" /> 
<link rel="shortcut icon" type="image/x-icon" href="//www.cybertestbed.com/favicon.ico" />
<!-- Bootstrap core CSS -->
<link href="/style/bootstrap.css" rel="stylesheet">
<link href="/style/bootstrap-multiselect.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/style/justified-nav.css" rel="stylesheet">
<link href="/style/icomoon-rss.css" rel="stylesheet">
<link href="/style/custom.css" rel="stylesheet">
<link href="/style/panel.css" rel="stylesheet">
 <script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>
<script src="/js/tab.js"></script>

{% block header %}
{% endblock %}

</head>
<body>
<script language="JavaScript" type="text/javascript">
var css = '#javascriptwarning{display:none;}',
head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

style.type = 'text/css';
if (style.styleSheet){
style.styleiSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

head.appendChild(style);
</script>
 
{% block page %}
{% if not request.session.user %}
 	<form id="loginnavbarform" method="post" action="{%url "main.login"%}" style="display:none;">  
 		<input type="hidden" name="forward_url" value="{{request.path}}" />
 	</form>
{% endif %}
<div id="left_panel">
{% if  request.session.user %}
	<div id="logo">
		<a href="/" title="back" class="logobacklink" title="back"><img src="/img/syspanel.png" width=60px  height=60px alt="Provinet" class="img-rounded"></a>
	</div>
	<div id="tit"> 
		<img src="/img/provinet-title.png" width=150px  height=20px alt="zi" class="img-rounded">
	</div>
	<div id="sublogo">
		<table width="250px" cellpadding="1" cellspacing="1">
			<tr>
				<td width="15%">
					<a href="/" title="back" class="logobacklink" title="home"><img src="/img/home_panel.png" width=25px  height=25px alt="homet" class="img-rounded"></a>
				</td>
				<td width="15%">
					<a href="{%url "account.info" request.session.user.name %}" title="account information"> <img src="/img/user_panel.png" width=25px  height=25px alt="user" class="img-rounded"></a>
				</td>
				<td width="15%">
					<a href="{%url "setting.setting"%}" title="setting"> <img src="/img/config_panel.png" width=25px  height=25px alt="setting" class="img-rounded"></a>
				</td>
				<td width="15%">
					<a href= "{%url "tutorial.list"%}" title="tutorial"> <img src="/img/tutorial_panel.png" width=25px  height=25px alt="people" class="img-rounded"></a>
				</td>
				<td width="18">
					<a href="{%url "main.logout"%}" title="logout"> <img src="/img/logout_panel.png" width=25px  height=25px alt="logout" class="img-rounded"></a>
				</td>
			</tr>
		</table>
	</div><!--end: sublogo-->
{% endif %}

<div id="panel_menu">
{% if request.session.user %}
	<li class="t"><span class="glyphicon glyphicon-star"></span>{% trans "Topologies" %}</li>
	<li><a href="{%url "topology_list"%}">{% trans "My Topologies" %}</a></li>
{% if request.session.user.hasGlobalToplFlags or request.session.user.hasOrgaToplFlags %}
	<li ><a href="{%url "topology_list_all"%}">{% trans "All Topologies" %}</a></li>
{% endif %}
{% if not "no_topology_create" in request.session.user.flags %}
	<li><a href="{%url "topology.create"%}">{% trans "Create Topology" %}</a></li>
	<li><a href="{%url "topology.import_"%}">{% trans "Import Topology" %}</a></li>
 {% endif %}
 {% if request.session.user.isAdmin %}
	<li class="t"><span class="glyphicon glyphicon-cloud"></span>{% trans "Admin" %} </a></li>
	<li><a href="{%url "account_list_all"%}">{% trans "Account List" %}</a></li>
	<li><a href="{%url "host.list"%}">{% trans "Hosts" %}</a></li>
	<li><a href="{%url "template.list"%}">{% trans "Templates" %}</a></li>
	<li><a href="{%url "profile.list"%}">{% trans "Device profiles" %}</a></li>
	<li><a href="{%url "external_network.list"%}">{% trans "External networks" %}</a></li>
{% endif %}
{% endif %}
<li class="t"><span class="glyphicon glyphicon-book"></span>{% trans "Info" %}</a></li>
<li><a href="{%url "main.index"%}">{% trans "Home" %}</a></li>
<li><a href="{%url "main.statistics"%}">{% trans "Statistics" %}</a></li>
<li><a href="{%url "organization.list"%}">{% trans "Organizations" %}</a></li>
<li><a href="{%url "site.map"%}">{% trans "Sites map" %}</a></li>
</div><!--end: panel_menu-->

</div><!--end: left_panel-->
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>
