{% extends "main/base.html" %}

{% load url from future %}
{% load i18n %}

{% block content %}

<div id="right">
	<div id="topcontent">
		<h1>{% trans "Login to ProViNet" %}</h1>
	</div>
	<div id="content">
		{{message}}
		<div id="bar">
			{% load crispy_forms_tags %}
			{% crispy form %}
			{% if not request.session.user %}
				<a href="{%url "account.register"%}" class="btn btn-primary">{% trans "Register" %}</a>
				<a href="http://niclab.bupt.edu.cn" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>{% trans " Visit our Homepage" %}</a>
			{% endif %}
		<div><!--end: bar-->
	</div><!--end: content-->
</div><!--end: right-->

{% endblock %}
