{% extends "main/base.html" %}

{% load url from future %}
{% load tomato %}
{% load i18n %}

{% block title %}
<title>{% trans "Welcome to BUPT ProViNet" %}</title> 
{% endblock %}

{% block header %}
<style>
.carousel-img-fixedwidth {
	height:250px;
}
</style>

{% endblock %}

{% block content %}
<div id="right">
	<div id="topcontent">
		<h1>{% trans "Welcome to BUPT Programmable Virtual Network test platform" %}</h1>
		<p>{% trans "Programmable Virtual Network ProViNet" %} (<b>P</b>rogrammable <b>V</b>irtual <b>N</b>etwork lab){% trans " is developed  by Network Information Center, Institute of Network Technology, Beijing University of Posts and Telecommunications Institute. It gives researchers the possibility to design and use virtual networking topologies to test their new network architectures, protocols, applications and algorithems, etc." %}</p>
	</div><!--end: topcontent-->
	<div id="bar">
		{% if request.session.user %}
			<a href="{%url "topology_list"%}" class="btn btn-primary btn-lg">{% trans "My Topologies" %}</a>
			{% if request.session.user.isAdmin or request.session.user.isHostManager %}
			
				{% if request.session.user.isAdmin %}
					<a href="{%url "account.list"%}" class="btn btn-primary btn-lg">{% trans "Manage Users" %}</a>
				{% endif %}
												
				{% if request.session.user.isHostManager %}
					<a href="{%url "admin.host.list"%}" class="btn btn-primary btn-lg">{% trans "Manage Hosts" %}</a>
				{%endif%}
			{%else%}
				<a href="{%url "topology.create"%}" class="btn btn-primary btn-lg">{% trans "Create New Topology" %}</a>
			{%endif%}
		{% else %}
			<a href="{%url "topology_list"%}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user"></span> {% trans "Login" %}</a>
			<a href="{%url "account.register"%}" class="btn btn-primary btn-lg">{% trans "Register" %}</a>	
		{% endif %}
			<a href="http://niclab.bupt.edu.cn" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>{% trans " Visit our Homepage" %}</a>
	</div><!--end: bar-->

  <div class="panel-group">
    <div class="panel panel-default">
  	<div class="panel-heading">
		<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<span class="glyphicon glyphicon-info-sign"></span> {% trans "Features" %} <small>{% trans "(click to expand)" %}</small>
        		</a>
      		</h4>
	</div><!--end: panel- heading-->
	<div id="collapseOne" class="panel-collapse collapse" style="padding:0.2cm;">
  
		<div class="features">
		    <div id="carousel-features-captions" class="carousel slide" data-ride="carousel">
		      <ol class="carousel-indicators">
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="0"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="1"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="2"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="3"></li>
		
		        <li class="active" data-target="#carousel-features-captions" data-slide-to="4"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="5"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="6"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="7"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="8"></li>
		
		        <li class="" data-target="#carousel-features-captions" data-slide-to="9"></li>
		
		      </ol>
		      <div class="carousel-inner">
		
		        <div class="item">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/editor1.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/editor1.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Intuitive editor" %}</h3>
		            <p>{% trans "Create your virtual network topology in an intuitive web-based editor. No need to write config files or code." %}</p>
		          </div>
		        </div>
		
		        <div class="item">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/fast.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/fast.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Up and running in seconds" %}</h3>
		            <p>{% trans "Even very complex topologies can be configured and started in a few seconds." %}</p>
		          </div>
		        </div>
		
		        <div class="item">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/worldwide.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:20https://master.tomato-lab.org/0px">
		            <img src="/img/carousel/worldwide.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Sites worldwide" %}</h3>
		            <p>{% trans "Create topologies that go around the globe, select freely from our various sites." %}</p>
		          </div>
		        </div>
		
		        <div class="item">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/packet_capturing.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/packet_capturing.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Packet capturing" %}</h3>
		            <p>{% trans "Have a look at what goes over the wire. Just activate packet capturing on a link and analyze the traffic in Wireshark." %}</p>
		          </div>
		        </div>
		
		        <div class="item active">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/link_emulation.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/link_emulation.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Link emulation" %}</h3>
		            <p>{% trans "Configure different properties like latency, packet loss or bandwidth on each link." %}</p>
		          </div>
		        </div>
		
		        <div class="item ">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/graphical_console.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/graphical_console.jpeg" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Graphical console" %}</h3>
		            <p>{% trans "Control your virtual machines directly from a web-based console viewer. Watch your VM boot or control graphical user interfaces." %}</p>
		          </div>
		        </div>
		
		        <div class="item ">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/virtual_networks.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/virtual_networks.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Virtual networks" %}</h3>
		            <p>{% trans "Use virtual switches or external networks to connect your topology." %}</p>
		          </div>
		        </div>
		
		        <div class="item ">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/virtualization_techs.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/virtualization_techs.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Different virtualization technologies" %}</h3>
		            <p>{% trans "Select from full virtualization (KVM) and container virtualization (OpenVZ) for each topology component to save resources." %}</p>
		          </div>
		        </div>
		
		        <div class="item ">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/templates.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/templates.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Pre-configured templates" %}</h3>
		            <p>{% trans "Select from a wide range of pre-configures VM images spanning from Debian, Ubuntu and other Linux systems to Windows XP." %}</p>
		          </div>
		        </div>
		
		        <div class="item ">
		          <div class="visible-lg visible-md visible-sm" >
		            <img src="/img/carousel/monitoring.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="visible-xs" style="height:200px">
		            <img src="/img/carousel/monitoring.png" class="img-responsive carousel-img-fixedwidth">
		          </div>
		          <div class="carousel-caption">
		            <h3>{% trans "Integrated monitoring" %}</h3>
		            <p>{% trans "Observe the resource usage of a whole topology or individual components." %}</p>
		          </div>
		        </div>
		      </div><!--end: carousel-inner-->
		      <a class="left carousel-control" href="#carousel-features-captions" data-slide="prev">
		        <span class="glyphicon glyphicon-chevron-left"></span>
		      </a>
		      <a class="right carousel-control" href="#carousel-features-captions" data-slide="next">
		        <span class="glyphicon glyphicon-chevron-right"></span>
		      </a>
		    </div><!--end: carousel-features-captions-->
		  </div><!--end: features-->
		</div><!--end: collapseOne-->
	   </div><!--end: panel panel-default-->
  </div><!--end: panel-group-->
</div><!--end: right-->
{% endblock %}