{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load url from future %}
{% load tomato %}
{% load i18n %}

{% block content %}
<div id="right">
	<div id="topcontent">	
		<h1>{% trans "Organization list" %}</h1>
	</div>
	
{% if organizations %}
	
	<div id="contentt">
		<div class="row">		
		{% for orga in organizations %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="organization">
					<a href="{%url "admin.organization.info" orga.name%}" style="color:black; text-decoration:none;">
						<div class="page-header"><h3>{{orga.description}}</h3></div>
						
						{% if orga.image_url %}
							<p style="margin-top:0.7cm; margin-bottom:0.7cm; min-height:5em;"><img src="{{orga.image_url}}" class="site" /></p>
						{% endif %}
						
						<p><b>
							{{orga.hosts.count}} {% trans "hosts" %}
							{% if orga.hosts.count %}({% trans "availability:" %} {{orga.hosts.avg_availability|percentage}}, {% trans "load:" %} {{orga.hosts.avg_load|percentage}}){% endif %}
						</b></p>
						
						{% if orga.description_text %}
							<p>{{orga.description_text|linebreaks|escape|simpletags:"b i em strong"|safe}}</p>
						{% endif %}
						
					</a>
				</div>
			</div>
			<div class="visible-xs skip-sm"></div>
			{% cycle "" '<div class="clearfix visible-sm"></div><div class="visible-sm skip-sm"></div>' %}
			{% cycle "" "" '<div class="clearfix visible-lg visible-md"></div><div class="visible-md visible-lg skip-sm"></div>' %}
		{% endfor %}
		</div><!--end: row-->
{% else %}
	{% trans "No organizations" %}
{% endif %}
	</div><!--end: content-->
	{% if organizations|length > 10 and request.session.user and request.session.user.isGlobalHostManager %}
	      <form>
	    	<button type="submit" formaction="{%url "admin.organization.add"%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Add organization" %}</button>
	      </form>
	{% endif %}
</div><!--end: right-->
{% endblock %}
